## Introduction

In this assignment, we will be required to explore, segment, and cluster the neighborhoods in the city of Toronto. We will scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.

Before we start with the assignment lab, let's download all the dependencies that we will need.

In [16]:
!conda install -c anaconda beautifulsoup4 --yes
!conda install -c anaconda lxml --yes

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [17]:
#import dependences
import pandas as pd 
import requests
from bs4 import BeautifulSoup

In [18]:
#Scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data
web_text = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(web_text,'xml')
table = soup.find('table',{'class':'wikitable'})

In [19]:
#Get data from the table (class='wikitable') and insert into Pandas Dataframe
table_rows = table.find_all('tr')
data = []
for row in table_rows:
    td=[]
    for t in row.find_all('td'):
        td.append(t.text.strip())
    data.append(td)

# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood'] 

# instantiate the dataframe
df = pd.DataFrame(data, columns=column_names)

# filter out bad rows
df = df[~df['Borough'].isnull()]  

df.head()

  PostalCode           Borough                Neighborhood
1        M1A      Not assigned
2        M2A      Not assigned
3        M3A        North York                   Parkwoods
4        M4A        North York            Victoria Village
5        M5A  Downtown Toronto  Regent Park / Harbourfront

In [20]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df[df.Borough != 'Not assigned']

# Combine Neighborhood with the same Postal Code, separating by comma
df = df.groupby(['PostalCode','Borough'])['Neighborhood'].apply(lambda x: ','.join(x)).reset_index()

# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
df['Neighborhood'].replace('Not assigned',df['Borough'],inplace=True)

# It seems that the Wikipedia Table was updated and Neighborhood with the same Postal Code has already combined separed by /
# to comply the assignment requirements we replace the / by comma (,)
df['Neighborhood'] = df['Neighborhood'].str.replace('/',',')
    
df.head(11)

   PostalCode      Borough                                       Neighborhood
0         M1B  Scarborough                                    Malvern , Rouge
1         M1C  Scarborough           Rouge Hill , Port Union , Highland Creek
2         M1E  Scarborough                Guildwood , Morningside , West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough      Kennedy Park , Ionview , East Birchmount Park
7         M1L  Scarborough                  Golden Mile , Clairlea , Oakridge
8         M1M  Scarborough  Cliffside , Cliffcrest , Scarborough Village West
9         M1N  Scarborough                       Birch Cliff , Cliffside West
10        M1P  Scarborough  Dorset Park , Wexford Heights , Scarborough To...

Use the .shape method to print the number of rows of your dataframe.

In [21]:
df.shape

(103, 3)